.card {
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0, 1.5);
    -fx-background-color: white;
    -fx-start-margin: 5;
    -fx-end-margin: 5;
}

.icon-operation {
    -fx-font-family: FontAwesome;
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.icons-button-operation {
    -fx-font-family: FontAwesome;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

/* Remove spacing */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected {
    -fx-background-insets: 0;
    -fx-background-color: #133782;
    -fx-text-fill: white;
}

.table-cell {
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;
    -fx-font: 13px "Segoe UI";
    -fx-border-insets: 0;
}

.table-cell:hover {
    -fx-background-color: #26B99A;
}

.table-row-cell:empty, .table-cell:empty:hover {
    -fx-background-color: #F6F5F1;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view:row-selection .table-row-cell:filled:hover {
    /*  -fx-background-color: rgba(28, 183, 236, 0.25);*/
    -fx-background-color: rgba(174, 184, 191, 0.25)
}

.table-view:row-selection .table-row-cell:filled:selected:hover {
    /* -fx-background-color: #007BFF;*/
    -fx-background-color: #AEB8BF;
}

.table-view:row-selection .table-row-cell:filled:selected {
    -fx-background-color: rgba(174, 184, 191, 0.65);
}

.table-view, .table-view:focused {
    -fx-background-color: transparent, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
}

.table-view .column-header .label {
    -fx-text-fill: #52677A;
    -fx-alignment: CENTER;
}

.table-view .column-header:hover {
    -fx-background-color: whitesmoke;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: white;
    -fx-size: 45;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 3 0;
    -fx-border-insets: 0;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: 0;
}

.nav-button:hover {
    -fx-background-color: #222D32;
}

.nav-button {
    -fx-background-color: #2A3F54;
}

.nav-button:pressed {
    -fx-background-color: #2A3F54;
}

.mprogress-bar > .track {
    -fx-background-color: derive(rgb(200.0, 200.0, 200.0), 50.0%);
    -fx-background-radius: 2.0;
    -fx-padding: 0.0;
}

.mprogress-bar > .bar {
    -fx-background-color: #133782;
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-pref-width: 3;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

.mprogress-bar:indeterminate > .bar {
    -fx-background-color: derive(#133782, 50.0%);
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

.custom-progress-bar > .track {
    /*	-fx-background-color: derive(#D5D5D5, 50.0%);*/
    -fx-background-color: #CDCDCD;
    -fx-background-radius: 2.0;
    -fx-padding: 0.0;
}

.custom-progress-bar > .bar {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;

    -fx-border-width: 0.0;
    -fx-effect: null;
}

.login-splash {
    /*-fx-background-image: url("../fxml/icons/splash.jpg");*/
    -fx-background-color: rgb(9, 55, 108);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.white {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.info {
    -fx-background-color: #007BFF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.success {
    -fx-background-color: #28A745;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.warning {
    -fx-background-color: #FFC107;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.danger {
    -fx-background-color: #DC3545;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.purple {
    -fx-background-color: #133782;
    /*-fx-background-color: #222d32;*/
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.card {
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0, 1.5);
    -fx-background-color: white;
}

.application-background {
    -fx-background-color: #7387A8;
}

#aboutPane {
    -fx-background-image: url("../fxml/icons/gecko.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

/*****************************************
    The tab-pane
*****************************************/

.jfx-tab-pane .tab .tab-label {
    -fx-font-weight: normal;
    -fx-text-fill: white;
    -fx-font-size: 18;
}

.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #26B99A;

}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #26B99A;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: white;
    -fx-stroke-width: 5pt;
}

.cardflat {
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-border-color: #c3c3c3;
}

.menu-item .label {
    -fx-font-size: 16;
}

.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
}

.titled-pane {
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0, 1.5);
    -fx-text-fill: white;
}

.titled-pane > .title {
    -fx-color: #26B99A;
    -fx-color-label-visible: white;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: white;
    -fx-start-margin: 5;
}
