/** Bow Tie Product
 **
 ** Style Sheet of Gecko Software.
 **
 ** @author Kevin Alexander Gaitán Argüello, kevinnica02@hotmail.com
 **/

.nav-button:hover {
    -fx-background-color: #222D32;
}

.nav-button {
    -fx-background-color: #2A3F54;
}

.nav-button:pressed {
    -fx-background-color: #2A3F54;
}

.button-dashboard {
    -fx-text-alignment: left;
    -fx-alignment: left;
    -fx-background-color: #222D32;
    -fx-text-fill: white;
}

.button-dashboard:hover {
    -fx-alignment: left;
    -fx-background-color: #2A3F54;
    -fx-text-fill: white;
}

.button-dashboard:pressed {

    -fx-alignment: left;
    -fx-background-color: #2A3F54;
    -fx-text-fill: white;
}

.mprogress-bar > .track {
    -fx-background-color: derive(rgb(200.0, 200.0, 200.0), 50.0%);
    -fx-background-radius: 2.0;
    -fx-padding: 0.0;
}

.mprogress-bar > .bar {
    -fx-background-color: #26B99A;
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-pref-width: 3;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

.mprogress-bar:indeterminate > .bar {
    -fx-background-color: derive(#26B99A, 50.0%);
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

.custom-progress-bar > .track {
    /*	-fx-background-color: derive(#D5D5D5, 50.0%);*/
    -fx-background-color: #CDCDCD;
    -fx-background-radius: 2.0;
    -fx-padding: 0.0;
}

.custom-progress-bar > .bar {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;

    -fx-border-width: 0.0;
    -fx-effect: null;
}

.login-splash {
    -fx-background-image: url("../icons/splash.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.info {
    -fx-background-color: #00C0EF;
}

.success {
    -fx-background-color: #00A65A;
}

.warning {
    -fx-background-color: #F39C12;
}

.danger {
    -fx-background-color: #DD4B39;
}

.card {
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0, 1.5);
    -fx-background-color: white;
}

.application-background {
    -fx-background-color: #7387A8;
}
